@font-face {
    font-family: 'Grota Rounded';
    src: url('https://raw.githubusercontent.com/mahmoud-Ganainy/super-duper-adventure/blob/master/fonts/GrotaRoundedBold.woff2') format('woff2'),
        url('https://raw.githubusercontent.com/mahmoud-Ganainy/super-duper-adventure/blob/master/fonts/GrotaRoundedBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

